<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COVID-19 Visualized</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<script type="text/javascript" src="{{ url_for('static', filename='vietnam.js')}}"></script>
</head>


<body>
  	 <div id="mapid"style="width: 800px; height: 700px;">
  	 
  	 </div>
  <script>
  		var mymap = L.map('mapid').setView([15.053803, 108.092475], 6);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibGVhbmhoYW84NiIsImEiOiJja3NsY2I1d3gwM3F1MnZwMHNqdjM1ZGp1In0.Z53YTZDAkhoyLjgvDCX4_w', {
		maxZoom: 40,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

var covData;

function fetchInfo() {
  covData = JSON.parse('{{ data | tojson | safe }}');
  console.log(covData);

}
fetchInfo()
  // get number of cases based on name of region
  function getCases(name) {
    var s = covData[name];
    if (typeof(s) !== 'undefined') {
      return parseInt(s.infected);
    } else {
      return 0;
    }
  }

  // control that shows state info on hover
  var info = L.control();

  info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };


  info.update = function (props) {
    this._div.innerHTML = '<h4>Number of cases</h4>' +  (props ?
      '<b>' + props.name + '</b><br />' + getCases(props.name) + ' case(s)'
      : 'Hover over a region');
  };

  info.addTo(mymap);



  
  function getColor(d) {
    console.log(d);
// covData[feature.properties.name].infected
    d = getCases(d);
    console.log(d)
    return d > 1000 ? '#800026' :
        d > 500  ? '#BD0026' :
        d > 200  ? '#E31A1C' :
        d > 100  ? '#FC4E2A' :
        d > 50   ? '#FD8D3C' :
        d > 20   ? '#FEB24C' :
        d > 10   ? '#FED976' :
              '#FFEDA0';
  }

  function style(feature) {
    return {
      weight: 2,
      opacity: 1,
      color: 'white',
      dashArray: '3',
      fillOpacity: 0.7,
      fillColor: getColor(feature.properties.name)
    };
  }


  // mouse over
  function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 5,
      color: '#666',
      dashArray: '',
      fillOpacity: 0.7
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
      layer.bringToFront();
    }

    info.update(layer.feature.properties);
  }
  // mouse out

  var geojson;

  function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
  }

  function zoomToFeature(e) {
    mymap.fitBounds(e.target.getBounds());
  }

    function onEachFeature(feature, layer) {
    layer.on({
      mouseover: highlightFeature,
      mouseout: resetHighlight,
      click: zoomToFeature
    });
  }

    geojson = L.geoJson(vnData, {
    style: style,
    onEachFeature: onEachFeature
  }).addTo(mymap);


  </script>

</body>

</html>